.services-hero {
  margin-top: 40vh;
}

.services-hero_container {
  padding: 0 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.services-hero_title {
  font-size: 170px;
  font-weight: 600;
  letter-spacing: -8px;
}

.services-hero_subtitle {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--color-logo-orange);
  translate: none;
  rotate: none;
  scale: none;
  opacity: 1;
  margin-left: auto;
  transform: translate(0px, 0px);
}

.services-hero_wrap {
  width: 96vw;
  display: grid;

  grid-template-columns: 7fr 5fr;
  grid-gap: 20vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(34, 35, 37, 0.32);
  padding-bottom: 16px;
}

@media screen and (max-width: 600px) {
  .services-hero {
    margin-top: 10vh;
  }
  .services-hero_container {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
  }

  .services-hero_title {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 0px;
    padding-left: 1vw;
  }

  .services-hero_subtitle {
    font-size: 20px;
    padding-left: 6vw;
  }

  .services-hero_wrap {
    grid-gap: 1vw;
  }
}
