.location {
  display: flex;
  /* flex-direction: column; */
  background-color: white;
  position: relative;
  min-height: 800px;
  margin-top: 20vh;

  /* border: 8px solid blue; */
}

.location-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10vw;

  /* border: 8px solid yellow; */
}

.location-left {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-right: 1rem;
}

.location-left h1 {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 5vh;
}

.location-left p {
  font-size: 1.3rem;
  font-weight: 600;
}

.button-container {
  margin-top: 5vh;
}
.location-right {
  max-width: 50%;
  align-items: center;
  justify-content: center;
  padding-right: 10vw;
  /* border: 8px solid red;*/
}

@media screen and (max-width: 550px) {
  .location {
    margin-top: 10vh;
  }

  .location-header {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 0;
  }

  .location-left {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-left: 3vw;
  }

  .location-left h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5vh;
  }

  .location-right {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-right: 0;
    padding: 2vw;
    /* margin-right: auto;*/
    margin-top: 5vh;

    /* border: 8px solid red;*/
  }
}
