.about-hero {
  margin-top: 40vh;
}

.about-hero_container {
  padding: 0 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.about-hero_title {
  font-size: 170px;
  font-weight: 600;
  letter-spacing: -8px;
}

.about-hero_subtitle {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--color-logo-orange);
  translate: none;
  rotate: none;
  scale: none;
  opacity: 1;
  transform: translate(0px, 0px);
}

.about-hero_wrap {
  display: grid;
  width: 100%;
  grid-template-columns: 7fr 7fr;
  grid-gap: 20vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(34, 35, 37, 0.32);
  padding-bottom: 16px;
}
