.about {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-top: 195rem;
  margin-left: 3vw;
  margin-right: 3vw;
}

.left-container {
  width: 25%;
  height: 100%;
}

.left-container_para {
  margin-top: 2vh;
}

.left-container h1 {
  font-size: 3rem;
  font-family: var(--font-family);
  font-weight: 600;
}

.left-container p {
  font-size: 1rem;
  margin-bottom: 2.5vh;
}

.about-right {
  width: 70%;
  height: 100%;
}
