.about {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  min-height: 800px;
  margin-top: 30vh;

  /* border: 8px solid red; */
}

.about-container {
  display: flex;
  flex-direction: row;

  /* border: 8px solid blue; */
}

.about-title {
  margin-bottom: 5vh;
}

.left-container {
  width: 30%;
  height: 100%;
  padding-left: 2vw;
  /* border: 8px solid yellow; */
}

.left-container_para {
  margin-top: 2vh;
}

.left-container h1 {
  font-size: 3rem;
  font-family: var(--font-family);
  font-weight: 800;
}

.left-container p {
  font-size: 1.3rem;
  margin-bottom: 2.5vh;
}

.about-right {
  width: 100%;
  height: 100%;
  margin-right: 0;
  margin-left: 2vw;
  /* border: 8px solid orange; */
}

.right-container {
  position: relative;

  display: flex;
  flex-direction: row;
}

.right-container-card {
  height: 100%;
  width: 33%;
  margin-right: 2vw;
  padding-left: 2vw;
}
.right-container-card img {
  width: 600px;
  height: 500px;
  border: 0px solid white;
  border-radius: 8px;
}

.right-container-card h1 {
  margin-top: 2vh;
  font-size: 2rem;
  font-weight: 600;
}

.right-container-card p {
  font-size: 1.3rem;
  margin-top: 2vh;
}

.button-text {
  font-size: 2rem;
}

a span {
  font-weight: 800;
  padding: 0;
  color: var(--color-logo-orange);
  /* border: 8px solid red; */
}
a span:nth-child(2) {
  transition-delay: 0.1s;
}
a span:nth-child(3) {
  transition-delay: 0.2s;
}
a span:nth-child(4) {
  transition-delay: 0.3s;
}
a span:nth-child(5) {
  transition-delay: 0.4s;
}
a span:nth-child(6) {
  transition-delay: 0.5s;
}
a span:nth-child(7) {
  transition-delay: 0.6s;
}
a span:nth-child(8) {
  transition-delay: 0.7s;
}
a span:nth-child(9) {
  transition-delay: 0.8s;
}
a span:nth-child(10) {
  transition-delay: 0.9s;
}
a span:nth-child(11) {
  transition-delay: 1s;
}
a span:nth-child(12) {
  transition-delay: 1.1s;
}
a span:nth-child(13) {
  transition-delay: 1s;
}
a span:nth-child(14) {
  transition-delay: 0.9s;
}
a span:nth-child(15) {
  transition-delay: 0.8s;
}
a span:nth-child(16) {
  transition-delay: 0.7s;
}
a span:nth-child(17) {
  transition-delay: 0.6s;
}
a span:nth-child(18) {
  transition-delay: 0.5s;
}
a span:nth-child(19) {
  transition-delay: 0.4s;
}
a span:nth-child(20) {
  transition-delay: 0.3s;
}
a span:nth-child(21) {
  transition-delay: 0.2s;
}
a span:nth-child(22) {
  transition-delay: 0.1s;
}

a:hover span {
  font-weight: 800;
  color: black;
}
a:hover span:nth-child(8) {
  transition-delay: 0.7s;
}
a:hover span:nth-child(9) {
  transition-delay: 0.8s;
}
a:hover span:nth-child(10) {
  transition-delay: 0.9s;
}
a:hover span:nth-child(11) {
  transition-delay: 1s;
}
a:hover span:nth-child(12) {
  transition-delay: 1.1s;
}
a:hover span:nth-child(5) {
  transition-delay: 0.4s;
}
a:hover span:nth-child(6) {
  transition-delay: 0.5s;
}
a:hover span:nth-child(7) {
  transition-delay: 0.6s;
}
a:hover span:nth-child(4) {
  transition-delay: 0.3s;
}
a:hover span:nth-child(3) {
  transition-delay: 0.2s;
}
a:hover span:nth-child(2) {
  transition-delay: 0.1s;
}
a:hover span:nth-child(1) {
  transition-delay: 0s;
}
