.wrapp {
  width: 100%;

  padding: 0 20px;

  margin-top: 20vh;
}

.wrapp-title {
  text-align: center;
}

.p-divider {
  width: 300px;
  border-bottom: 2px solid var(--color-logo-orange);
  margin: 1rem auto;
}

.content {
  width: 100%;
  height: auto;
  margin: auto;
}

.spacer {
  width: 100%;
  height: 50vh;
  background: black;
}

.work {
  display: flex;
  margin-top: 20px;
}

.work-left {
  position: relative;
  width: 54%;
  z-index: 2;

  color: black;
}

.work-text {
  width: 80%;
  margin-left: 0;
}

.work-info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8rem;
}

.work-num {
  display: block;
  line-height: 0.9;
  text-align: left;
  font-size: 18px;
  transform: skewX(-20deg);
  color: black;
}

.title {
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}

.title .stroke {
  display: block;
  background: transparent;
  -webkit-text-stroke: 1px black;
}

.work-link {
  display: block;
  width: 365px;
  margin-top: 50px;
  margin-left: auto;
  padding: 18px 0;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background: orangered;
  letter-spacing: 4px;
  border: 2px solid blue;
  border-radius: 30px;
  transition: 0.4s;
}

.work-link:hover {
  background: blue;
  color: green;
  letter-spacing: 6px;
}

.work-right {
  width: 46%;
  height: auto;
  position: relative;
  margin: 0;
}

.work-right-bl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0;
}

.work-photo {
  width: 40vw;
  height: 40vw;
  position: relative;
}

.work-photo-item {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 80px;
  overflow: hidden;
  margin-top: 2vh;
}

.work-photo-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.feature-divider {
  background-color: var(--color-logo-orange);
}

.work-title {
  position: relative;
  margin-bottom: 10vh;
}

.work-title h1 {
  font-size: 4rem;
  font-weight: 800;

  @media (min-width: 1024px) {
    color: 65px;
  }
}

.work-info-bar {
  position: absolute;
  background-color: var(--color-logo-orange);
  opacity: 0.5;
  bottom: -50px;
  height: 2px;
  width: 400px;
}

.work-body {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.work-service_desc p {
  color: 10px;
  font-size: 1.5rem;
  padding-top: 5px;
}

.work-service_off {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-top: 2vh;
}

.work-service_off_single {
  display: flex;
  max-width: 200px;
  width: 100%;
  flex-direction: row;
  gap: 0.5vw;
  margin-top: 2vh;
  font-size: 1.1rem;
}

.work-service_off_row {
  gap: 8vw;
}

@media screen and (max-width: 550px) {
  .wrapp {
    display: none;
  }
}
