.hero {
  background-color: white;
  position: absolute;
  height: 1200vh;
  width: 100%;
  left: 0;
  top: 18vh;
}

.solutions {
  padding-top: 6vh;
  font-weight: 800;
  font-style: italic;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: var(--color-logo-orange);
}

.hero-cotainer {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 800vh;
  width: 100%;
}

.hero-container_left {
  display: flex;
  position: absolute;

  top: 0;
  left: 2vw;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
}

.hero-container_left img {
  position: relative;
  max-width: 100%;

  max-height: 1400vh;
  margin-top: 9.1vh;
  margin-right: 100rem;
}

.hero-container_right {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 0rem;
  justify-content: center;

  height: 800px;
  width: 60%;
}

.hero-container_right h1 {
  margin-bottom: 1rem;
  margin-top: -6rem;
  margin-left: 8rem;
}

.hero-text {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  left: 8rem;
  margin-bottom: 2rem;
}

.hero-button {
  font-family: Helvetica;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #202125;

  cursor: pointer;
  max-width: 300px;
  width: 100%;
  outline: 3px solid;
  outline-color: #f2ab29;
  outline-offset: 20px;
  transition: all 400ms cubic-bezier(0.2, 0, 0, 0.8);
  position: absolute;
  margin-left: 9.5rem;
  bottom: 18rem;
}

.hero-button:hover {
  color: #f2ab29;
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 300px;
}
