.projects {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  min-height: 800px;
  margin-top: 30vh;
}

.about-title {
  margin-bottom: 5vh;
}

.ensproject-image-row {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 1vh;
}

.ensproject-desc {
  opacity: 0;
  width: fit-content;
  height: fit-content;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  margin: 2vh auto;
}

.ensproject-image-box-b {
  translate: none;
  rotate: none;
  scale: none;
  opacity: 1;
  transform: translate(0px, 0px);

  background-color: white;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  position: relative;

  overflow: hidden;

  border-radius: 1rem;
}

#Mariott {
  cursor: pointer;
  background-image: url("../../assets/projects/11.jpg");
}

#Mugo {
  cursor: pointer;
  background-image: url("../../assets/projects/mugo20.jpg");
}

#griffin {
  cursor: pointer;
  background-image: url("../../assets/projects/griffin.jpg");
}

#Mugo-t {
  background-image: url("../../assets/projects/mugo-terrace.jpg");
  cursor: pointer;
}

.effect:before {
  content: "";
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  top: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to top, transparent 0%, #f2ab29 100%);
}

.effect:hover .ensproject-desc {
  opacity: 1;
  transition: all 1s;
}

.effect:hover:before {
  height: 100%;
}

.ensproject-image-box-b-image {
  display: block;
  position: absolute;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ensproject-image-box-s {
  translate: none;
  rotate: none;
  scale: none;
  opacity: 1;
  transform: translate(0px, 0px);

  height: 100%;
  background-color: white;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
  overflow: hidden;

  border-radius: 1rem;
  /* border: double 7px transparent;
  background-image: linear-gradient(white, white),
    /* linear-gradient(90deg, #ff8200, #ff8200, #000000, #000000); */
  /* linear-gradient(90deg, #000000, #ff8200, #000000, #ff8200); */
  /* background-origin: border-box;
  background-clip: content-box, border-box; */
}

.image-box-work {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 0.5vw;
  position: relative;
  margin: 2vh auto;
  padding-top: 62%;
}

.image-box-work-item {
  will-change: transform;
  transform: translateY(00.04em);
  width: fit-content;
  height: fit-content;
  padding: 0.5vw 1vw;
  background-color: var(--color-logo-orange);
  border-radius: 20px;
  border: 1px solid #fefeff50;
  color: black;
  z-index: 5;
  pointer-events: all;
}

.short-description {
  margin: 0;
  font-family: var(--font-family);
  font-size: 0.6vw;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.04em;
}

.project-slider {
  width: 100%;
}
/* 
.ensproject-image-row img {
  border: 6px solid transparent;
  border-radius: 1rem;
  border-image: linear-gradient(90deg, #ff8200, #ff8200, #000000, #000000);
  border-image-slice: 1;

  background-clip: content-box, border-box;
} */

.button-text-projects {
  width: fit-content;
  font-size: 2rem;
  margin-left: 4vh;
  margin-top: 2vh;
  /* border: 8px solid red; */
}
