.partners1 {
  position: absolute;
  width: 100%;
  height: 1300px;
  padding: 0 20px;
  left: 0;
  margin-top: 246rem;
}

.container {
  width: 100%;
  height: 100%;
}

.partners1-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 6rem;
  /* margin-left: 2rem;
    margin-right: 2rem; */
}

.content-text {
  font-size: 1.5rem;
  font-family: var(--font-family);
}

.parterns1-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 6rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.parterns1-card-image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100%;
}

.parterns1-card-image img {
  position: absolute;
  border: 6px solid transparent;
  border-radius: 1rem;
  border-image: linear-gradient(90deg, #ff8200, #ff8200, #000000, #000000);
  border-image-slice: 1;

  background-clip: content-box, border-box;
  width: 600px;
  height: 400px;
}

.parterns1-card-image #img2 {
  /* background-color: var(--color-logo-orange); */
  background-color: black;
}
.parterns1-card-image #img2:hover {
  opacity: 0;
  cursor: pointer;
  transition: 1s;
}
