.partners {
  position: absolute;
  width: 100%;
  height: 1300px;
  padding: 0 20px;
  left: 0;
  margin-top: 226rem;

  /* background-color: black; */
}

.container {
  width: 100%;
  height: 100%;
}

.partners-content {
  display: flex;
  flex-direction: row;
  width: 100%;

  /* margin-left: 2rem;
  margin-right: 2rem; */
}

.partners-right {
  position: absolute;
  display: flex;
  flex-direction: column;

  left: 12rem;
  top: 12rem;
}

.partners-right img {
  width: 1000px;
  height: 650px;
  border: 2px solid black;
}

.partners-right h1 {
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 800;
  color: black;
}

.partners-right p {
  margin: 0 auto;
  font-size: 1.2rem;

  color: black;
}

.partners-left {
  position: absolute;
  display: flex;
  flex-direction: column;

  right: 12rem;
  top: 12rem;
}

.partners-left img {
  width: 1000px;
  height: 650px;
  border: 2px solid black;
}

.partners-left h1 {
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 800;
  color: black;
}

.partners-left p {
  margin: 0 auto;
  font-size: 1.2rem;

  color: black;
}

.quote {
  position: absolute;
  width: 100%;
  margin-top: -12rem;
  margin-left: 22rem;
}

.partners-quote {
  margin: 0 auto;
}
