.presentation {
  display: flex;
  flex-direction: row;
  background-color: white;
  position: relative;
  min-height: 800px;
  margin-top: 10vh;
}

.presentation-content {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
  opacity: 1;
}

.presentation-img {
  /* color: transparent; */
}

.presentation-content h2 {
}

@media screen and (max-width: 600px) {
  /* .presentation-content h2 {
    font-size: 15px;
  } */
}
