* {
  font-family: var(--font-family);
}

.container {
  scroll-snap-type: y mandatory;

  height: 100vh;
}

.section__padding {
  margin-left: 2vw;
  margin-right: 2vw;
}
.one {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__heading {
  font-size: 4.5rem;
  font-weight: 800;
  color: black;
}

.last-word {
  font-weight: 800;
  font-style: italic;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: var(--color-logo-orange);
}

.dot {
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: var(--color-logo-orange);
}
