.menu {
  position: fixed;
  z-index: 402;
  top: 0;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  animation: appear-48c66b20 0.4s;
  --menu-item-color: var(--color-primary);
}

.ens__navbar {
  border: transparent whitesmoke;
  border-radius: 16px;
  z-index: 100;
  display: flex;
  width: 100%;
  height: var(--menu-height-block);
  max-width: var(--layout-width);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--layout-margin);
  margin-top: 1vh;
  transition: all 0.2s;
}

.ens__navbar--scrolled {
  background-color: var(--color-bg-menu);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.ens__navbar--scrolled p {
  color: white;
}
.ens__navbar--border {
  border: whitesmoke;
  border-radius: 16px;
}

.ens__navbar-links_logo {
  width: 110px;
  height: 60px;
}

.ens__navbar-links_logo img {
  color: black;
  object-fit: contain;

  /* cursor: pointer; */
}

.ens__navbar-links_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20rem;
  width: 50%;
}

.ens__navbar-links_container p,
.ens__navbar-sign p,
.ens__navbar-menu_container p {
  color: black;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

a.nav-item {
  text-decoration: none;
  font-family: var(--font-family);
}
a.nav-item span {
  font-weight: 800;
  transition: all 0.4s;
  color: black;
}
a.nav-item span:nth-child(2) {
  transition-delay: 0.1s;
}
a.nav-item span:nth-child(3) {
  transition-delay: 0.2s;
}
a.nav-item span:nth-child(4) {
  transition-delay: 0.3s;
}
a.nav-item:hover span {
  font-weight: 800;
  color: var(--color-logo-orange);
}
a.nav-item:hover span:nth-child(4) {
  transition-delay: 0.3s;
}
a.nav-item:hover span:nth-child(3) {
  transition-delay: 0.2s;
}
a.nav-item:hover span:nth-child(2) {
  transition-delay: 0.1s;
}
a.nav-item:hover span:nth-child(1) {
  transition-delay: 0s;
}

@media screen and (max-width: 550px) {
  .ens__navbar {
    border-radius: 0px;
    display: none;
  }
  .ens__navbar--scrolled {
    background-color: var(--color-bg-menu);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }

  .ens__navbar--scrolled p {
    color: white;
  }
}
