.historyMobile {
  display: none;
}

@media screen and (max-width: 550px) {
  .historyMobile {
    display: block;
    margin-top: 5vh;
  }

  .historyMobile-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* border: 8px solid blue; */
  }

  .historyMobile-progress {
    border: 1px solid black;
    border-radius: 9rem;
    width: 1.2rem;
    height: 18.5rem;
    position: absolute;
    left: 10%;
    transform: translateY(40%);
    opacity: 1;
    visibility: inherit;
  }

  .historyMobile-progress_inner {
    justify-content: center;
    width: 100%;
    height: calc(100% - 1rem - 2px);
    margin-top: calc(0.8rem - 1px);
    margin-bottom: calc(0.8rem - 1px);
    display: flex;
    position: relative;
  }
  .historyMobile-progress_dot {
    background-color: var(--color-logo-orange);
    border-radius: 50%;
    width: 0.9rem;
    height: 0.9rem;
    margin-left: 0.05rem;
    margin-top: -0.65rem;
    position: absolute;
    scroll-behavior: smooth;
    transition: ease;
    /* transform: translateY(2400%); */
  }

  .historyMobile-right {
    position: sticky;
    /* position: absolute; */
    /* height: 100%; */
    width: 50%;
    /* border: 8px solid yellow; */
    height: var(--swatch-size);
    margin-top: 5vh;
    top: calc(25% - (var(--swatch-size) / 2));

    --swatch-size: clamp(50dvw, 50vh, 75dvh);
    /* border: 3px solid blue; */
  }

  .history-right-mobile-transparentDiv {
    position: absolute;
    /* margin-top: -60vh; */
    margin-top: 20vh;
    height: 42vh;
    display: flex;
    flex-direction: column;
    z-index: 5;
    overflow: hidden;
    width: 100%;
    /* height: inherit; */
    padding-right: 4vw;
    background-color: white;

    top: calc(30% - (var(--swatch-size) / 2));
    --swatch-size: clamp(50dvw, 100vh, 75dvh);
  }

  .history-right-mobile {
    position: sticky;
    display: flex;
    flex-direction: column;
    z-index: 6;
    padding-right: 4vw;
    height: var(--swatch-size);

    /* 
        the swatch should stick halfway down the page
        while the .container is in view
      */

    top: calc(30% - (var(--swatch-size) / 2));

    /* 
        for the duration of the --colours timeline,
        step through the color-change animation
      */

    /* define the swatch size as a variable for use above */
    --swatch-size: clamp(50dvw, 100vh, 75dvh);
  }

  .history-right-mobile p {
    position: relative;
    margin-top: 50%;
    color: #818284;
    font-size: 1rem;
    margin-left: 0.5vw;
    font-weight: 600;
    z-index: 6;
  }

  .history-right-mobile h1 {
    position: relative;
    font-size: 2.5rem;
    font-weight: 800;
    z-index: 6;
  }
  .historyMobile-span {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-logo-orange);
  }

  .historyMobile-right_inner {
    width: 80%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    /* border: 8px solid orange; */
  }

  .historyMobile-left {
    position: relative;
    top: 0;
    /* margin-left: 50%; */
    height: 100%;
    width: 90%;
    /* border: 8px solid orange; */
  }

  .historyMobile-left_inner {
    height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: auto;

    /* border: 8px solid purple; */
  }
  .historyMobile-left_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 50%;
  }

  .historyMobile-left_item-timeline {
    position: relative;
    color: #818284;
    font-size: 1rem;

    font-weight: 600;
  }

  .historyMobile-left_item-date {
    font-size: 2.5rem;
    font-weight: 800;
  }

  .historyMobile-left_item-description {
    font-size: 0.8rem;
  }
}
